[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
precision=2
show_missing=yes

[run]
source = nestedtext
omit = */.tox/*,*/.local/*
    # the doctests use the installed version of NestedText, which suppresses 
    # the coverage percentage
