language: python
os:
  - linux
install:
  - pip install virtualenv tox coveralls inform
script:
  - tox
after_success:
  - coveralls
jobs:
  include:
    - python: 3.6
    - python: 3.7
    - python: 3.8
    - python: nightly
  allow_failures:
    - python: nightly
  fast_finish: true
