autoclasstoc >= 1.6
docutils==0.16
    # There is an incompatibility between Sphinx and docutils version 0.18.
    # Also, newer versions than 0.16 or perhaps 1.17 do not render bullets in bullet lists
sphinx_toolbox
sphinx_rtd_theme
